<app-navbar></app-navbar>

<div class="container my-md-5 my-4">
    <div class="row">
        <div class="col-md-4 order-tbl-first">
            <div class="m-4">
                <nav class="nav nav-pills flex-column">
                    <a routerLink="desktop" routerLinkActive="active" class="nav-item nav-link" data-bs-toggle="tab">
                        <i class="fa-solid fa-gauge-high me-2"></i> Escritorio
                    </a>
                    <a routerLink="orders" routerLinkActive="active" class="nav-item nav-link" data-bs-toggle="tab">
                        <i class="fa-solid fa-basket-shopping me-2"></i> Pedidos
                    </a>
                    <a routerLink="address" routerLinkActive="active" class="nav-item nav-link" data-bs-toggle="tab">
                        <i class="fa-solid fa-address-card me-2"></i> Dirección
                    </a>
                    <a routerLink="details" routerLinkActive="active" class="nav-item nav-link" data-bs-toggle="tab">
                        <i class="fa-solid fa-user me-2"></i> Detalles de la cuenta
                    </a>
                    <a routerLink="change-password" routerLinkActive="active" class="nav-item nav-link" data-bs-toggle="tab">
                        <i class="fa-solid fa-lock me-2"></i> Cambiar contraseña
                    </a>
                    <a (click)="logout()" class="nav-item nav-link link-danger">
                        <i class="fa-solid fa-right-from-bracket me-2"></i> Cerrar sesión
                    </a>
                </nav>
            </div>
        </div>
        <div class="col-md-8 order-tbl-last">
            <div class="m-4">
                
                <div class="tab-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>