<app-navbar></app-navbar>

<section class="vh-100 bg-dark">
    <div class="container pt-1 pb-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Registro</h3>
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <label class="form-label">Nombre</label>
                                    <div class="form-outline mb-4">
                                        <input formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors}" type="text" class="form-control form-control-lg" />
                                        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                            <div *ngIf="f['name'].errors['required']">El nombre es obligatorio</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <label class="form-label">Apellidos</label>
                                    <div class="form-outline mb-4">
                                        <input formControlName="surname" [ngClass]="{ 'is-invalid': submitted && f['surname'].errors }" type="text" class="form-control form-control-lg" />
                                        <div *ngIf="submitted && f['surname'].errors" class="invalid-feedback">
                                            <div *ngIf="f['surname'].errors['required']">Los apellidos son obligatorios</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <label class="form-label">Nombre de Usuario</label>
                                    <div class="form-outline mb-4">
                                        <input formControlName="username" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" type="text" class="form-control form-control-lg" />
                                        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                                            <div *ngIf="f['username'].errors['required']">El nombre de usuario es obligatorio</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <label class="form-label">Correo Electrónico</label>
                                    <div class="form-outline mb-4">
                                        <input formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" type="email" class="form-control form-control-lg" />
                                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                            <div *ngIf="f['email'].errors['required']">El correo electrónico es obligatorio</div>
                                            <div *ngIf="f['email'].errors['email']">Debe ser un correo electrónico válido</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <label class="form-label">Contraseña</label>
                                    <div class="form-outline">
                                        <input formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" type="password" class="form-control form-control-lg" />
                                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                            <div *ngIf="f['password'].errors['required']">La contraseña es obligatoria</div>
                                            <div *ngIf="f['password'].errors['minlength']">La contraseña debe contener al menos 6 caracteres</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    
                                    <label class="form-label">Confirmar contraseña</label>
                                    <div class="form-outline">
                                        <input formControlName="confirm_password" [ngClass]="{ 'is-invalid': submitted && f['confirm_password'].errors }" type="password" class="form-control form-control-lg" />
                                        <div *ngIf="submitted && f['confirm_password'].errors" class="invalid-feedback">
                                            <div *ngIf="f['confirm_password'].errors['required']">La confirmación de contraseña es obligatoria</div>
                                            <div *ngIf="f['confirm_password'].errors['minlength']">La contraseña debe contener al menos 6 caracteres</div>
                                            <div *ngIf="f['confirm_password'].errors['mustMatch']">Las contraseñas no coinciden</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4 pt-2 d-grid gap-2">
                                <button class="btn btn-primary btn-lg gap-2" >Enviar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>