<h4 class="mt-2">Cambiar contraseña</h4>

<div class="container pt-1 pb-5 h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="card-body p-4 p-md-3">

      <!-- Alert -->
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        Aquí puedes actualizar tu contraseña
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- Alert -->

        <div class="row">
          <div class="col-md-6 mb-4">
            <label class="form-label">Contraseña</label>
            <div class="form-outline mb-4">
              <input [(ngModel)]="password" type="password" class="form-control form-control-lg" />
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <label class="form-label">Confirmar contraseña</label>
            <div class="form-outline mb-4">
              <input [(ngModel)]="confirm_password" type="password" class="form-control form-control-lg" />
            </div>
          </div>
        </div>

        <div class="d-grid gap-2">
          <button (click)="changePassword(password, confirm_password)" class="btn btn-primary btn-lg gap-2">Actualizar</button>
        </div>
    </div>
  </div>
</div>