<h4 class="mt-2">Detalles de la cuenta</h4>

<div class="container pt-1 pb-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="card-body p-4 p-md-5">
            <form>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <label class="form-label">Nombre</label>
                        <div class="form-outline mb-4">
                            <input type="text" class="form-control form-control-lg" />
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <label class="form-label">Apellidos</label>
                        <div class="form-outline mb-4">
                            <input type="text" class="form-control form-control-lg" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <label class="form-label">Nombre de Usuario</label>
                        <div class="form-outline mb-4">
                            <input type="text" class="form-control form-control-lg" />
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <label class="form-label">Correo Electrónico</label>
                        <div class="form-outline mb-4">
                            <input type="email" class="form-control form-control-lg" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                        <label class="form-label">Contraseña</label>
                        <div class="form-outline">
                            <input type="password" class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">

                        <label class="form-label">Confirmar contraseña</label>
                        <div class="form-outline">
                            <input type="password" class="form-control form-control-lg" />
                        </div>
                    </div>
                </div>

                <div class="mt-4 pt-2 d-grid gap-2">
                    <button class="btn btn-primary btn-lg gap-2">Enviar</button>
                </div>

            </form>
        </div>
    </div>
</div>